*, *::before, *::after {
  box-sizing: border-box;
  font-family: 'Gotham Rounded', sans-serif; /* Make sure to include single quotes around the font name */
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #333;
}

.container {
  width: 800px;
  max-width: 80%;
  background-color: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px 2px;
}

#text {
  font-size: 24px;
  white-space: pre-line;
  position: relative;
}


.btn-grid {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.btn {
  background-color: hsl(15, 100%, 50%);
  border: 2px solid hsl(0, 100%, 30%);
  border-radius: 30px;
  padding: 10px 10px;
  color: rgb(255, 255, 255);
  outline: none;
}

.btn:hover {
  border-color: black;
  border-width: 2px;
}
